<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <services>
      <!-- This section is optional with the new configuration model  
           introduced in .NET Framework 4. -->
      <service name="Wcf.Contract.Service.Implementation.WorkstationMonitorService" behaviorConfiguration="WorkstationMonitorServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9001/" />
            <add baseAddress="http://localhost:9002/WorkstationMonitorService/" />
          </baseAddresses>
        </host>

        <!-- the mex endpoint is exposed at http://localhost:9002/WorkstationMonitorService/mex -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />

        <!-- this endpoint is exposed at the base address provided by host: net.tcp://localhost:9001/WorkstationMonitorService  -->
        <endpoint address="WorkstationMonitorService"
                  binding="netTcpBinding" bindingConfiguration="netTcpBindingConfig"
                  contract="Wcf.Contract.Service.Interface.IWorkstationMonitorService"
                  behaviorConfiguration="tcpBehavior"/>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <!-- 200 MB - maximum size of massages and buffer, buffer pool set to 500 MB -->
        <binding name="netTcpBindingConfig"
                 maxBufferPoolSize="500000000"
                 maxBufferSize="200000000"
                 maxReceivedMessageSize="200000000">
          <!-- enable message reliability and order-->
          <reliableSession enabled="true" ordered="false"/>
          <!-- Security configuration using certificates -->
          <security mode="Transport">
            <transport protectionLevel="EncryptAndSign"
                       clientCredentialType="Certificate">
            </transport>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="tcpBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483646"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="WorkstationMonitorServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="True" />
          <!-- Security -->
          <serviceCredentials>
            <clientCertificate>
              <authentication certificateValidationMode="PeerOrChainTrust"/>
            </clientCertificate>
            <serviceCertificate findValue="WMS Server1"
              storeLocation="LocalMachine"
              storeName="TrustedPeople"
              x509FindType="FindBySubjectName" />
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.0.0" newVersion="3.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="All">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source propagateActivity="true" name="System.ServiceModel" switchValue="All">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="%USERPROFILE%\AppData\Local\Wms\wms_app_messages.svclog"
        type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
      <add initializeData="%USERPROFILE%\AppData\Local\Wms\wms_app_tracelog.svclog"
        type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true"
        logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true"
        maxMessagesToLog="5000" maxSizeOfMessageToLog="2000" />
    </diagnostics>
  </system.serviceModel>
</configuration>

