<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  throwExceptions="true">

  
  <variable name="ErrorLayout" value="
-------------- ${level} (${longdate}) --------------${newline}
${newline}
Call Site: ${callsite:fileName=true:includeSourcePath=false:skipFrames=1}${newline}
Exception Type: ${exception:format=Type}${newline}
Exception Message: ${exception:format=Message}${newline}
Stack Trace: ${exception:format=StackTrace}${newline}
Additional Info: ${message}${newline}"/>  
  
  <variable name="InfoLayout" value="
-------------- ${level} (${longdate}) --------------${newline}
${newline}
Call Site: ${callsite:fileName=true:includeSourcePath=false:skipFrames=1}${newline}
Message: ${message}${newline}"/>     
  
  <targets>
    <target name="errorLogFile" xsi:type="FilteringWrapper" condition="level==LogLevel.Error"> 
      <target xsi:type="File" fileName="${basedir}\Log.txt" layout="${ErrorLayout}" /> 
    </target> 
    <target name="infoLogFile" xsi:type="FilteringWrapper" condition="level==LogLevel.Info"> 
      <target xsi:type="File" fileName="${basedir}\Log.txt" layout="${InfoLayout}" /> 
    </target> 
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="infoLogFile, errorLogFile" />
  </rules>
</nlog>