<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IWorkstationMonitorService" maxBufferPoolSize="1000000" maxReceivedMessageSize="1000000"/>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/WorkstationMonitorService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWorkstationMonitorService"
                contract="WorkstationMonitorServiceReference.IWorkstationMonitorService"
                name="WSHttpBinding_IWorkstationMonitorService">
                <identity>
                    <userPrincipalName value="DESKTOP-6KIJ564\KRYSTUS" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>