<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <services>
      <!-- This section is optional with the new configuration model  
           introduced in .NET Framework 4. -->
      <service name="Wcf.Host.Services.WorkstationMonitorService"
               behaviorConfiguration="WorkstationMonitorServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/WorkstationMonitorService"/>
          </baseAddresses>
        </host>
        <!-- this endpoint is exposed at the base address provided by host: http://localhost:8000/WorkstationMonitorService  -->
        <endpoint address=""
                  binding="wsHttpBinding"
                  contract="WcfHost.Services.IWorkstationMonitorService" />
        <!-- the mex endpoint is exposed at http://localhost:8000/WorkstationMonitorService/mex -->
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WorkstationMonitorServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
