<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <services>
      <!-- This section is optional with the new configuration model  
           introduced in .NET Framework 4. -->
      <service name="Wcf.Contract.Service.Implementation.WorkstationMonitorService" behaviorConfiguration="WorkstationMonitorServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/WorkstationMonitorService" />
          </baseAddresses>
        </host>
        <!-- this endpoint is exposed at the base address provided by host: http://localhost:8000/WorkstationMonitorService  -->
        <endpoint address="http://localhost:8000/WorkstationMonitorService" binding="wsHttpBinding" bindingConfiguration="wsHttpBindingConfig" contract="Wcf.Contract.Service.Interface.IWorkstationMonitorService" />
        <!-- the mex endpoint is exposed at http://localhost:8000/WorkstationMonitorService/mex -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />

        <!-- this endpoint is exposed at the base address provided by host: net.tcp://localhost:8001/WorkstationMonitorService  -->
        <endpoint address="net.tcp://localhost:8001/WorkstationMonitorService"
                  binding="netTcpBinding" bindingConfiguration="netTcpBindingConfig"
                  contract="Wcf.Contract.Service.Interface.IWorkstationMonitorService"
                  behaviorConfiguration="tcpBehavior"/>

      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="netTcpBindingConfig" maxBufferPoolSize="2147483647"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="10000000" maxStringContentLength="10000000" maxArrayLength="10000000"
            maxBytesPerRead="10000000" maxNameTableCharCount="10000000" />
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="wsHttpBindingConfig" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647" />
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="tcpBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483646"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="WorkstationMonitorServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.0.0" newVersion="3.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.diagnostics>
    <sources>
      <source name="Wcf.Contract.Service.Implementation.WorkstationMonitorService"
        switchValue="All">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add initializeData="C:\tracestext.log" type="System.Diagnostics.TextWriterTraceListener"
            name="messagelistener">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="All">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source propagateActivity="true" name="System.ServiceModel" switchValue="All">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="e:\dysk wazne\workspaces\remote workstation management system\remote workstation management system\wcf.host.debug\app_messages.svclog"
        type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
      <add initializeData="e:\dysk wazne\workspaces\remote workstation management system\remote workstation management system\wcf.host.debug\app_tracelog.svclog"
        type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true"
        logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true"
        maxMessagesToLog="5000" maxSizeOfMessageToLog="2000" />
    </diagnostics>
  </system.serviceModel>
</configuration>

