<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <services>
      <!-- This section is optional with the new configuration model  
           introduced in .NET Framework 4. -->
      <service name="Wcf.Contract.Service.Implementation.WorkstationMonitorService" behaviorConfiguration="WorkstationMonitorServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/WorkstationMonitorService" />
          </baseAddresses>
        </host>
        <!-- this endpoint is exposed at the base address provided by host: http://localhost:8000/WorkstationMonitorService  -->
        <endpoint address="http://localhost:8000/WorkstationMonitorService" binding="wsHttpBinding" bindingConfiguration="wsHttpBindingConfig" contract="Wcf.Contract.Service.Interface.IWorkstationMonitorService" />
        <!-- the mex endpoint is exposed at http://localhost:8000/WorkstationMonitorService/mex -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />

        <!-- this endpoint is exposed at the base address provided by host: net.tcp://localhost:8001/WorkstationMonitorService  -->
        <endpoint address="net.tcp://localhost:8001/WorkstationMonitorService" binding="netTcpBinding" bindingConfiguration="netTcpBindingConfig" contract="Wcf.Contract.Service.Interface.IWorkstationMonitorService" />
      </service>
    </services>
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttpBindingConfig" maxBufferPoolSize="100000000" maxReceivedMessageSize="100000000">
        </binding>
      </wsHttpBinding>
      <netTcpBinding>
        <binding name="netTcpBindingConfig" maxBufferPoolSize="100000000" maxReceivedMessageSize="100000000" />
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WorkstationMonitorServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.0.0" newVersion="3.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
